/*-- scss:defaults --*/

// Import Fonts

@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// Colors

// custom color labels
$dark-green: #363c32;
$dg-contrast: #a0ada9;
$green: #678d58;
$g-contrast: #e3e3bc;
$orange: #bc6c25;
$o-constrast: #fce4c0;
$cream: #fefae0;
$c-constrast: #301e01;

// Base Document Colors

// navbar background: dark-green
$navbar-bg: $dark-green;
// navbar foreground: dg-contrast
$navbar-fg: $dg-contrast;
// navbar highlight: cream
$navbar-hl: $cream;
// hyperlink color: green
$link-color: $green;

// Fonts

// label "Encode Sans Semi Expanded" font: "$esse"
$esse: "Encode Sans Semi Expanded", sans-serif;

// label "Playfair Display" font: "$pd"
$pd: "Playfair Display", serif;

/*-- scss:rules --*/

// create h1 command
h1 {
  // h1 font: esse
  font-family: $esse;
  // h1 spacing: 1.5px
  letter-spacing: 1.5px;
  // h1 font weight: 625
  font-weight: 625;
}

// create h2 command
h2 {
//h2 font: esse
font-family: $esse;
// h2 spacing: 1.5px
letter-spacing: 1.5px;
// h2 font weight: 550
font-weight: 550;
}

// create .title command
.title {
  // .title text: orange
  color: $orange;
}

// create .center-text command
.center-text {
  // .center-text: centered
  text-align: center;
}


// customize navbar image dimensions
.navbar-brand img {
  max-height: 40px;
  width: auto;
}

// pdf container
.pdf-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between the two PDFs */ /* Allows them to stack on smaller screens */
}

