/*-- scss:defaults --*/

// Colors
$dark-green: #363c32;
$dg-contrast: #a0ada9;
$green: #606c38;
$g-contrast: #e3e3bc;
$orange: #bc6c25;
$o-constrast: #fce4c0;
$cream: #fefae0;
$c-constrast: #301e01;

// Base document colors
$navbar-bg: $dark-green;
$navbar-fg: $dg-contrast;
$navbar-hl: $cream;

// font adjustment
$h1-font-size: 2rem;
